In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get(
    "https://api.themoviedb.org/3/movie/top_rated?api_key=14cb3aa18123646d9ea2c4ac6100dab7&language=en-US&page=1")

In [4]:
df = pd.DataFrame(response.json()["results"])[
    ["id", "title", "overview", "release_date", "popularity", "vote_average", "vote_count"]]
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,151.669,8.7,17576
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,83.179,8.7,23414
2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,38.924,8.7,210
3,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,40.709,8.6,254
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,71.623,8.6,10641
5,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,58.558,8.6,13841
6,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,30.694,8.6,4073
7,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,70.201,8.5,14038
8,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,32.460,8.5,7098
9,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,91.422,8.5,9582
10,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,67.667,8.5,15375
11,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,76.207,8.5,29314
12,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,84.218,8.5,15142
13,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,61.063,8.5,24792
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,47.722,8.5,7262
15,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,71.155,8.5,24290
16,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,89.294,8.5,21252
17,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,2020-05-29,13.515,8.5,2327
18,372754,Dou kyu sei â€“ Classmates,"Rihito Sajo, an honor student with a perfect s...",2016-02-20,11.118,8.5,292
19,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,55.420,8.5,11057

In [5]:
df = pd.DataFrame()
for i in range(1, 20):
    response = requests.get(
        rf"https://api.themoviedb.org/3/movie/top_rated?api_key=14cb3aa18123646d9ea2c4ac6100dab7&language=en-US&page={i}")
    temp_df = pd.DataFrame(response.json()["results"])[
        ["id", "title", "overview", "release_date", "popularity", "vote_average", "vote_count"]]
    df = pd.concat([df, temp_df], ignore_index=True)

In [6]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,151.669,8.7,17576
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,83.179,8.7,23414
2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,38.924,8.7,210
3,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,40.709,8.6,254
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,71.623,8.6,10641
...,...,...,...,...,...,...,...
375,360814,Dangal,Dangal is an extraordinary true story based on...,2016-12-21,15.013,8.0,803
376,15383,Army of Shadows,"Betrayed by an informant, Philippe Gerbier fin...",1969-09-10,9.651,8.0,526
377,775,A Trip to the Moon,Professor Barbenfouillis and five of his colle...,1902-04-17,14.484,8.0,1484
378,10404,Raise the Red Lantern,"China in the 1920s. After her father's death, ...",1991-12-18,14.529,8.0,591
379,667520,A Whisker Away,"Miyo ""Muge"" Sasaki is a peculiar second-year j...",2020-06-18,66.616,8.0,1146

# End